@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: black;
}

.login {
  min-height: 100vh;
  min-width: 100vw;
}

.poster {
  z-index: -999;
}

.info {
  z-index: 999;
}

.home {
  margin-bottom: 20px;
  height: 100%;
  max-width: 100vw;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.library {
  min-height: 100vh;
  min-width: 100vw;;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}